
*{
    padding: 0p;
    margin: 0px;
}
body {
    background-color: #A9A9A9;
    
}

header, section, footer, table{
        width: 80% ;
    margin: 0 auto;
    padding: 1rem;
    background-color: #E6E6FA;     
}

h1 {
    color: #00008B;
}

img {
    border: 0.3rem solid silver);  
    border-radius:50%  
}

P, ul, ol{
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    list-style: none;
}

ul{
    
    color: darkgreen;
    font-size: 1.4rem;
    
}

ul li{
    float: left;
    margin-right: 1.3rem;
    margin-bottom: 1.3rem;

}

.p1{
    margin-bottom: 0;
}
h2{
    margin: 1.3rem 0rem;
    
}
a {
    padding: 2rem;
    color: black;
    font-size: 0.9rem;
}

a:hover {
    color: tomato;
}
a:visited{
    color: black;
}

fieldset{
    font-size:1.5rem;
    color: blue;
}

form{
    width:25rem;
}
textarea{
    height: 7rem;
}

hr{
    clear: both;
}